@import 'globals';

.slide-form {
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: $block-radius;
  display: none;
  margin-top: $tweet-spacing;
  padding: $block-padding;
  opacity: 0.7;

  h2 {
    border-bottom: 1px solid $color-text;
    color: $color-text;
    margin: 0 0 10px;
  }

  textarea {
    padding: 3px;
    resize: vertical;
    width: 100%;
  }

  #tweet-counter {
    float: right;

    #tweet-counter.tweet-too-long {
      color: $color-error;
    }
  }

  #tweet-error  {
    color: $color-error;
  }
}

.slide-form:hover {
  border: 1px solid $color-border-hover;
  opacity: 1;
}

#login,#register {
  label {
    display: inline-block;
    width: $login-label-width;
  }

  input[type="text"], input[type="password"]{
    width: calc(100% - #{$login-label-width} - 10px);
  }
}