$navbar-height: 80px;
$container-padding: 40px;
$tweet-spacing: 20px;
$avatar-size: 60px;
$block-padding: 10px;
$block-radius: 5px;
$login-label-width: 70px;

$container-top-padding: $navbar-height + $container-padding - $tweet-spacing;

$color-navbar: #00a087;
$color-background: #eee;
$color-foreground: white;
$color-border: #bbb;
$color-border-hover: #00a087;
$color-error: red;
$color-text: black;
