@import 'globals';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  background-color: $color-foreground;
  margin: 0 auto;
  min-height: 100vh;
  padding: $container-top-padding $container-padding $container-padding;
  width: 450px;
}