@import 'globals';

#new-tweet {
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: 5px;
  display: none;
  margin-top: 20px;
  padding: 10px;
  opacity: 0.7;

  h2 {
    border-bottom: 1px solid $color-text;
    color: $color-text;
    margin: 0 0 10px;
  }

  textarea {
    padding: 3px;
    resize: vertical;
    width: 100%;
  }

  #tweet-counter {
    float: right;

    #tweet-counter.tweet-too-long {
      color: $color-error;
    }
  }

  #tweet-error  {
    color: $color-error;
  }
}

#new-tweet:hover {
  border: 1px solid $color-border-hover;
  opacity: 1;
}