@import 'globals';

.tweet {
  border: 1px solid $color-border;
  border-radius: 5px;
  color: $color-text;
  margin-top: $tweet-spacing;
  overflow: hidden;

  header {
    background-color: $color-background;
    display: flex;
    padding: 10px;
    opacity: 0.7;
  }

  .tweet-avatar {
    border-radius: 5px;
    height: $avatar-size;
    overflow: hidden;
    width: $avatar-size;

    img {
      height: $avatar-size;
      width: $avatar-size;
    }
  }

  .tweet-user {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: calc(100% - #{$avatar-size});
  }

  .tweet-name {
    font-size: 150%;
    font-weight: 700;
    line-height: 40px;
  }

  .tweet-handle {
    font-size: 90%;
  }

  .tweet-body {
    align-items: center;
    display: flex;
    min-height: 80px;
    padding: 10px;
  }

  footer {
    align-items: center;
    border-top: 1px solid $color-border;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px;
  }

  .tweet-time {
    font-size: 80%;
  }

  .tweet .tweet-icons {
    padding-top: 4px;
    visibility: hidden;

    img {
      cursor: pointer;
      height: 15px;
      margin: 0 2px;
      width: 15px;
    }
  }
}

.tweet:hover {
  border: 1px solid $color-border-hover;

  header{
    opacity: 1;
  }

  .tweet-icons {
    visibility: visible;
  }
}
