#new-tweet {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  display: none;
  margin-top: 20px;
  padding: 10px;
  opacity: 0.7;
}

#new-tweet:hover {
  border: 1px solid #00a087;
  opacity: 1;
}

#new-tweet h2 {
  border-bottom: 1px solid black;
  color: black;
  margin: 0 0 10px;
}

#new-tweet textarea {
  padding: 3px;
  resize: vertical;
  width: 100%;
}

#new-tweet #tweet-counter {
  float: right;
}

#new-tweet #tweet-counter.tweet-too-long {
  color: red;
}

#new-tweet #tweet-error  {
  color: red;
}