#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  margin-left: 10px;
  margin-right: auto;
}

#nav-bar .compose {
  background-color: #e7fdff;
  border: 2px solid black;
  border-radius: 5px;
  color: #00a087;
  float: right;
  font-size: 120%;
  height: 70%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
}

#nav-bar .compose:hover {
  background-color: white;
  color: black;
}