.tweet {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.tweet:hover {
  border: 1px solid #00a087;
}

.tweet header {
  background-color: #eeeeee;
  display: flex;
  padding: 10px;
  opacity: 0.7;
}

.tweet:hover header{
  opacity: 1;
}

.tweet .tweet-avatar {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.tweet .tweet-avatar img {
  height: 60px;
  width: 60px;
}

.tweet .tweet-user {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 10px;
  width: calc(100% - 60px);
}

.tweet .tweet-name {
  font-size: 150%;
  font-weight: 700;
  line-height: 40px;
}

.tweet .tweet-handle {
  font-size: 90%;
}

.tweet .tweet-body {
  min-height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.tweet footer {
  height: 30px;
  padding: 0 10px;
  border-top: 1px solid #bbbbbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .tweet-time {
  font-size: 80%;
}

.tweet .tweet-icons {
  padding-top: 4px;
  visibility: hidden;
}

.tweet .tweet-icons img {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  cursor: pointer;
}

.tweet:hover .tweet-icons {
  visibility:visible;
}