html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #eee;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.container {
  background-color: white;
  margin: 0 auto;
  min-height: 100vh;
  padding: 100px 40px 40px;
  width: 450px; }

#nav-bar {
  align-items: center;
  background-color: #00a087;
  color: #eee;
  display: flex;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  #nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px; }
  #nav-bar > span {
    font-size: 150%;
    line-height: 80px;
    margin-left: 10px; }
  #nav-bar .header {
    font-size: 200%;
    margin-right: auto; }
  #nav-bar svg {
    height: 30px;
    margin-right: 3px;
    width: 25px; }
  #nav-bar button {
    align-items: center;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 5px;
    color: #00a087;
    display: flex;
    fill: #00a087;
    font-size: 120%;
    height: 70%;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: center; }
  #nav-bar button:hover {
    background-color: white;
    color: black;
    fill: black; }

#new-tweet {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: none;
  margin-top: 20px;
  padding: 10px;
  opacity: 0.7; }
  #new-tweet h2 {
    border-bottom: 1px solid black;
    color: black;
    margin: 0 0 10px; }
  #new-tweet textarea {
    padding: 3px;
    resize: vertical;
    width: 100%; }
  #new-tweet #tweet-counter {
    float: right; }
    #new-tweet #tweet-counter #tweet-counter.tweet-too-long {
      color: red; }
  #new-tweet #tweet-error {
    color: red; }

#new-tweet:hover {
  border: 1px solid #00a087;
  opacity: 1; }

.tweet {
  border: 1px solid #bbb;
  border-radius: 5px;
  color: black;
  margin-top: 20px;
  overflow: hidden; }
  .tweet header {
    background-color: #eee;
    display: flex;
    padding: 10px;
    opacity: 0.7; }
  .tweet .tweet-avatar {
    border-radius: 5px;
    height: 60px;
    overflow: hidden;
    width: 60px; }
    .tweet .tweet-avatar img {
      height: 60px;
      width: 60px; }
  .tweet .tweet-user {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: calc(100% - 60px); }
  .tweet .tweet-name {
    font-size: 150%;
    font-weight: 700;
    line-height: 40px; }
  .tweet .tweet-handle {
    font-size: 90%; }
  .tweet .tweet-body {
    align-items: center;
    display: flex;
    min-height: 80px;
    padding: 10px; }
  .tweet footer {
    align-items: center;
    border-top: 1px solid #bbb;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 0 10px; }
  .tweet .tweet-time {
    font-size: 80%; }
  .tweet .tweet .tweet-icons {
    padding-top: 4px;
    visibility: hidden; }
    .tweet .tweet .tweet-icons img {
      cursor: pointer;
      height: 15px;
      margin: 0 2px;
      width: 15px; }

.tweet:hover {
  border: 1px solid #00a087; }
  .tweet:hover header {
    opacity: 1; }
  .tweet:hover .tweet-icons {
    visibility: visible; }

/*# sourceMappingURL=tweeter.css.map */
